.profile 
    .profile__img 
        img(src="/img/main/director.jpg", alt="Виталий Хрусталев")
    .profile__name Виталий Хрусталев
    .profile__text Генеральный директор ООО "Оконный Бутик Виталия Хрусталева"
    .profile__social
        a(href="#").profile__link
            i.icon-vk
        a(href="#").profile__link
            i.icon-facebook
        a(href="#").profile__link
            i.icon-insta
    a(href="#").profile__btn Написать директору
