.child-tabs 
    .child-tabs__nav 
        button.child-tabs__btn.child-tabs__btn-active 
            span.child-tabs__link-title blitz <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
            .child-tabs__triangle
        button.child-tabs__btn 
            span.child-tabs__link-title grazio <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
        button.child-tabs__btn 
            span.child-tabs__link-title delight <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
        button.child-tabs__btn 
            span.child-tabs__link-title intelio <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
    .child-tabs__content
        .child-tabs__item
            