header.header
	.header__inner.container
		a(href="/").logo
			img(src="/img/logo.png", alt="logo", class='logo__img').img-full
		.header__list 
			.header__item.header__item-work.header__item-tablet-hide Работаем<br/> по Санкт-Петербургу<br/> и Лен.области
			.header__item.header__item-tablet-hide 
				.icon.icon-tape.header__icon
				a(href="#").header__link Вызов замерщика
			.header__item.header__item-tablet-hide 
				.icon.icon-price.header__icon
				a(href="#").header__link Скачать прайс-лист
			.header__item.header__item-tel
				.icon.icon-phone.header__icon
				.header-tel
					span Пн - Пт круглосуточно <br/>
					a(href="tel:+78126799080" class="header-tel__item") +7 812 679-90-80
			.header__item.header__item-messagers 
				img(src="/img/main/yandex-stars.png", alt="")
				.messagers-links
					a(href="#", rel="nofollow" class="messagers-links__item") 
						<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="15.7754" cy="15" r="15" fill="#7F40BD"/>
						<g clip-path="url(#clip0)">
						<path d="M22.7472 16.1836C23.1947 12.4167 22.5322 10.0386 21.3372 8.96294L21.3378 8.96232C19.4091 7.12544 12.8953 6.85357 10.5878 9.04482C9.55157 10.1167 9.18657 11.6898 9.14657 13.6373C9.10657 15.5854 9.05907 19.2348 12.4597 20.2248H12.4628L12.4597 21.7367C12.4597 21.7367 12.4366 22.3492 12.8278 22.4723C13.2753 22.6173 13.4778 22.3329 14.8697 20.6704C17.1972 20.8723 18.9847 20.4098 19.1878 20.3423C19.6578 20.1848 22.3172 19.8329 22.7472 16.1836ZM15.0991 19.6067C15.0991 19.6067 13.6259 21.4436 13.1678 21.9204C13.0178 22.0754 12.8534 22.0611 12.8559 21.7536C12.8559 21.5517 12.8672 19.2436 12.8672 19.2436C9.98407 18.4173 10.1541 15.3098 10.1853 13.6842C10.2166 12.0579 10.5141 10.7261 11.3916 9.82919C13.4159 7.93107 19.1266 8.35544 20.5816 9.72294C22.3603 11.2998 21.7272 15.7548 21.7309 15.9067C21.3653 18.9529 19.2103 19.1461 18.8141 19.2779C18.6447 19.3342 17.0728 19.7386 15.0991 19.6067Z" fill="white"/>
						<path d="M15.9139 10.1855C15.6732 10.1855 15.6732 10.5605 15.9139 10.5637C17.7807 10.578 19.3182 11.8793 19.3351 14.2662C19.3351 14.518 19.7039 14.5149 19.7007 14.263H19.7001C19.6801 11.6912 18.0014 10.1999 15.9139 10.1855Z" fill="white"/>
						<path d="M18.3695 13.8702C18.3639 14.1189 18.732 14.1308 18.7351 13.8789C18.7657 12.4608 17.8914 11.2927 16.2482 11.1695C16.0076 11.152 15.9826 11.5302 16.2226 11.5477C17.6476 11.6558 18.3982 12.6283 18.3695 13.8702Z" fill="white"/>
						<path d="M17.9763 15.4841C17.6675 15.3053 17.3531 15.4166 17.2231 15.5922L16.9513 15.9441C16.8131 16.1228 16.555 16.0991 16.555 16.0991C14.6713 15.6009 14.1675 13.6297 14.1675 13.6297C14.1675 13.6297 14.1444 13.3628 14.3169 13.2197L14.6569 12.9384C14.8269 12.8034 14.9344 12.4784 14.7613 12.1591C14.2988 11.3234 13.9881 11.0353 13.83 10.8141C13.6638 10.6059 13.4138 10.5591 13.1538 10.6997H13.1481C12.6075 11.0159 12.0156 11.6078 12.205 12.2172C12.5281 12.8597 13.1219 14.9078 15.0144 16.4553C15.9038 17.1872 17.3113 17.9372 17.9088 18.1103L17.9144 18.1191C18.5031 18.3153 19.0756 17.7003 19.3813 17.1434V17.1391C19.5169 16.8697 19.4719 16.6147 19.2738 16.4478C18.9225 16.1053 18.3925 15.7272 17.9763 15.4841Z" fill="white"/>
						<path d="M16.5057 12.565C17.1064 12.6 17.3976 12.9138 17.4289 13.5582C17.4401 13.8101 17.8057 13.7926 17.7945 13.5407C17.7545 12.6994 17.3157 12.2307 16.5257 12.1869C16.2851 12.1725 16.2626 12.5507 16.5057 12.565Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0">
						<rect width="15" height="15" fill="white" transform="translate(8.27539 7.5)"/>
						</clipPath>
						</defs>
						</svg>
					a(href="#", rel="nofollow" class="messagers-links__item") 
						<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="15.7754" cy="15" r="15" fill="#00B047"/>
						<g clip-path="url(#clip0)">
						<path d="M21.0465 9.67827C19.6374 8.27442 17.7629 7.5008 15.7678 7.5C13.7773 7.5 11.8997 8.27293 10.4814 9.67644C9.06046 11.0823 8.27722 12.9507 8.27539 14.9305V14.9328V14.9342C8.27562 16.1325 8.59045 17.3413 9.18806 18.4448L8.29588 22.5L12.3978 21.567C13.4367 22.0905 14.5958 22.3666 15.765 22.367H15.768C17.7582 22.367 19.6357 21.594 21.0543 20.1904C22.4765 18.7833 23.2601 16.9173 23.261 14.9363C23.2615 12.9691 22.4752 11.1018 21.0465 9.67827ZM15.7678 21.1963H15.7652C14.7154 21.1958 13.6753 20.9323 12.7574 20.4339L12.5634 20.3286L9.83579 20.949L10.4283 18.2564L10.314 18.0595C9.74619 17.0802 9.44612 15.9992 9.44612 14.9329C9.4483 11.4817 12.2839 8.67073 15.7676 8.67073C17.4506 8.67142 19.0319 9.32384 20.2203 10.5076C21.4266 11.7097 22.0907 13.2824 22.0901 14.9359C22.0888 18.3879 19.2526 21.1963 15.7678 21.1963Z" fill="white"/>
						<path d="M13.7291 11.6562H13.4006C13.2863 11.6562 13.1007 11.6991 12.9436 11.8699C12.7865 12.0409 12.3438 12.4541 12.3438 13.2946C12.3438 14.135 12.958 14.9471 13.0436 15.0612C13.1293 15.1752 14.2292 16.955 15.9712 17.6397C17.419 18.2087 17.7137 18.0955 18.0278 18.067C18.3421 18.0386 19.0419 17.6539 19.1847 17.255C19.3275 16.8562 19.3275 16.5143 19.2847 16.4429C19.2418 16.3717 19.1275 16.329 18.9561 16.2436C18.7847 16.1581 17.9447 15.7379 17.7876 15.6808C17.6305 15.6239 17.5163 15.5954 17.4019 15.7665C17.2876 15.9373 16.951 16.3323 16.851 16.4463C16.7511 16.5604 16.6511 16.5747 16.4796 16.4892C16.3082 16.4035 15.7619 16.2199 15.1072 15.6381C14.5975 15.1853 14.2439 14.6078 14.1439 14.4368C14.044 14.266 14.1333 14.1735 14.2192 14.0882C14.2962 14.0118 14.4003 13.9072 14.486 13.8075C14.5716 13.7077 14.5959 13.6365 14.6532 13.5226C14.7103 13.4086 14.6817 13.3088 14.6389 13.2234C14.5959 13.1379 14.267 12.2932 14.1146 11.9554H14.1147C13.9863 11.6709 13.8512 11.6613 13.7291 11.6562Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0">
						<rect width="15" height="15" fill="white" transform="translate(8.27539 7.5)"/>
						</clipPath>
						</defs>
						</svg>
					a(href="#", rel="nofollow" class="messagers-links__item") 
						<svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle cx="15.7754" cy="15" r="15" fill="#009CE8"/>
						<g clip-path="url(#clip0)">
						<path d="M8.53523 14.4973L12.2034 16.3254C12.3452 16.3954 12.5127 16.3904 12.6484 16.311L15.9134 14.4129L13.9371 16.1641C13.8365 16.2535 13.779 16.381 13.779 16.5154V20.781C13.779 21.231 14.3534 21.4204 14.6227 21.0629L16.2084 18.9548L20.1296 21.1879C20.4046 21.346 20.7571 21.1873 20.8209 20.8729L23.2665 8.68538C23.3396 8.31913 22.9752 8.02038 22.6365 8.15663L8.57398 13.641C8.19648 13.7885 8.17211 14.3166 8.53523 14.4973ZM22.179 9.34163L20.0296 20.0523L16.314 17.936C16.1115 17.8204 15.8509 17.8716 15.7071 18.0616L14.7165 19.3785V16.726L20.0609 11.991C20.484 11.6166 19.9977 10.951 19.5146 11.2348L12.3959 15.3735L9.90086 14.1304L22.179 9.34163Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0">
						<rect width="15" height="15" fill="white" transform="translate(8.27539 7.5)"/>
						</clipPath>
						</defs>
						</svg>
	.header-nav
		.container.header-nav__table
			.stellarnav.header-nav__container
				ul.header-nav__list
					li.header-nav__item
						a(href="#" class="header-nav__link") О нас
						ul
							li.header-nav__item 
								a(href="#" class="header-nav__link") Балконы и лоджии
							li.header-nav__item 
								a(href="#" class="header-nav__link") Балконы и лоджии
							li.header-nav__item 
								a(href="#" class="header-nav__link") Балконы и лоджии
					li.header-nav__item
						a(href="#" class="header-nav__link") Окна
					li.header-nav__item
						a(href="balcony.html" class="header-nav__link") Балконы и лоджии
						ul
							li.header-nav__item 
								a(href="#" class="header-nav__link") Балконы и лоджии
							li.header-nav__item 
								a(href="#" class="header-nav__link") Балконы и лоджии
							li.header-nav__item 
								a(href="#" class="header-nav__link") Балконы и лоджии
					li.header-nav__item
						a(href="#" class="header-nav__link") Коттеджи и дома
					li.header-nav__item
						a(href="#" class="header-nav__link") Конструкции
					li.header-nav__item
						a(href="#" class="header-nav__link") Бренды
					li.header-nav__item
						a(href="#" class="header-nav__link") Услуги
					li.header-nav__item
						a(href="#" class="header-nav__link") Контакты
			.header__tablet
				.header__item.header__item-work Работаем<br/> по Санкт-Петербургу<br/> и Лен.области
				.header__item 
					.icon.icon-tape.header__icon
					a(href="#").header__link Вызов замерщика
				.header__item 
					.icon.icon-price.header__icon
					a(href="#").header__link Скачать прайс-лист

					

  


		

