.product-tabs
    .container
        .block-title Ознакомьтесь, <b>чем отличаются оконные профили,</b><br/> которые мы устанавливаем
        .tabs-nav
            div(class="tabs-nav__elem tabs-nav__elem-active" data-tab="Reynaers") Профиль Reynaers
            div(class="tabs-nav__elem" data-tab="Rehau") Профиль Rehau
            div(class="tabs-nav__elem" data-tab="Alutech") Профиль Alutech
        .tabs-content
            div(class="tabs-content__item tabs-content__item-active" data-tab-content="Reynaers")
                .tabs-content__preview
                    .tabs-content__title Профиль Reynaers
                    .tabs-content__text Изготовлены из экологически чистого профиля, который не горит и не выделяет токсических веществ в окружающую среду; Материал профиля устойчив к временным деформациям – не теряет форму и не желтеет со временем; Окна водонепроницаемы; Обеспечивают шумо- и звукоизоляцию; Имеют улучшенную теплоизоляцию; Просты в монтаже и эксплуатации; Защищают от сквозняков; Могут оснащаться светоотражающей пленкой или бронированными стеклами.
                    .tabs-content__image
                        img(class="img-full" src="/img/main/tab-preview-img.jpg", alt="profile rehau")
                .tabs-content__child
                    include home-child-tabs/child-tab-reynaers.pug
            div(class="tabs-content__item" data-tab-content="Rehau")
                .tabs-content__preview
                    .tabs-content__title Профиль Rehau
                    .tabs-content__text Изготовлены из экологически чистого профиля, который не горит и не выделяет токсических веществ в окружающую среду; Материал профиля устойчив к временным деформациям – не теряет форму и не желтеет со временем; Окна водонепроницаемы; Обеспечивают шумо- и звукоизоляцию; Имеют улучшенную теплоизоляцию; Просты в монтаже и эксплуатации; Защищают от сквозняков; Могут оснащаться светоотражающей пленкой или бронированными стеклами.
                    .tabs-content__image
                        img(class="img-full" src="/img/main/tab-preview-img.jpg", alt="profile rehau")
                .tabs-content__child
                    include home-child-tabs/child-tab-rehau.pug
            div(class="tabs-content__item" data-tab-content="Alutech")
                .tabs-content__preview
                    .tabs-content__title Профиль Alutech
                    .tabs-content__text Изготовлены из экологически чистого профиля, который не горит и не выделяет токсических веществ в окружающую среду; Материал профиля устойчив к временным деформациям – не теряет форму и не желтеет со временем; Окна водонепроницаемы; Обеспечивают шумо- и звукоизоляцию; Имеют улучшенную теплоизоляцию; Просты в монтаже и эксплуатации; Защищают от сквозняков; Могут оснащаться светоотражающей пленкой или бронированными стеклами.
                    .tabs-content__image
                        img(class="img-full" src="/img/main/tab-preview-img.jpg", alt="profile rehau")
                .tabs-content__child
                    include home-child-tabs/child-tab-alutech.pug

