.stellarnav
	ul.stellarnav-menu
		li
			a(href="#") Продукты
			ul
				li
					a(href="#")
						img(src=img+"header/p1.png", alt="")
						span <b>Аллервэй</b> <br> 10 шт и 30 шт, 5мг
				li
					a(href="#")
						img(src=img+"header/p2.png", alt="")
						span <b>Аллервэй Экспресс</b> <br> 10 шт, 5мг
						
		li
			a(href="#") Где купить
		li
			a(href="#") Инструкция
			ul
				li
					a(href="#")
						img(src=img+"header/p1.png", alt="")
						span <b>Аллервэй</b> <br> 10 шт и 30 шт, 5мг
				li
					a(href="#")
						img(src=img+"header/p2.png", alt="")
						span <b>Аллервэй Экспресс</b> <br> 10 шт, 5мг
		li
			a(href="#") Советы
		li
			a(href="#") Специалистам
		li
			a(href="#") Карта цветений