.balcony-cost 
    .container 
        .block-title <b>Посмотрите предварительную стоимость</b><br/> остекления балкона
        .balcony-cost__wrapper 
            .balcony-cost__item 
                .balcony-cost__preview
                    img(src="" data-src="img/balcony-cost/balcony-cost-1.jpg", alt="Остекление лоджии").img-full.lozad
                    .balcony-cost__title Лоджия     
                .balcony-cost__list
                    ul
                        li.balcony-cost__char
                            span.balcony-cost__name Rehau
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">11 200</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Blitz
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 600</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Thermo Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 100</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Grazio
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">9 200 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Delight-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Brillant-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Intelio 80
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                    a(href="#form-calc").btn.balcony-cost__btn.btn-popup Заказать остекление
            .balcony-cost__item 
                .balcony-cost__preview
                    img(src="" data-src="img/balcony-cost/balcony-cost-2.jpg", alt="Остекление Каблук").img-full.lozad
                    .balcony-cost__title Каблук     
                .balcony-cost__list
                    ul
                        li.balcony-cost__char
                            span.balcony-cost__name Rehau
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">11 200</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Blitz
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 600</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Thermo Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 100</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Grazio
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">9 200 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Delight-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Brillant-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Intelio 80
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                    a(href="#form-calc").btn.balcony-cost__btn.btn-popup Заказать остекление
            .balcony-cost__item 
                .balcony-cost__preview
                    img(src="" data-src="img/balcony-cost/balcony-cost-3.jpg", alt="Остекление П - образный балкон").img-full.lozad
                    .balcony-cost__title П - образный балкон     
                .balcony-cost__list
                    ul
                        li.balcony-cost__char
                            span.balcony-cost__name Rehau
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">11 200</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Blitz
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 600</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Thermo Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 100</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Grazio
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">9 200 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Delight-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Brillant-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Intelio 80
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                    a(href="#form-calc").btn.balcony-cost__btn.btn-popup Заказать остекление
            .balcony-cost__item 
                .balcony-cost__preview
                    img(src="" data-src="img/balcony-cost/balcony-cost-4.jpg", alt="Угловой балкон").img-full.lozad
                    .balcony-cost__title Угловой балкон     
                .balcony-cost__list
                    ul
                        li.balcony-cost__char
                            span.balcony-cost__name Rehau
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">11 200</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Blitz
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 600</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Thermo Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">10 100</span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Grazio
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">9 200 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Delight-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Brillant-Design
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                        li.balcony-cost__char
                            span.balcony-cost__name Intelio 80
                            span.balcony-cost__price от <span class="balcony-cost__price-danger">7 100 </span> руб
                    a(href="#form-calc").btn.balcony-cost__btn.btn-popup Заказать остекление