.banner-sizes.container 
    div(data-background-image='/img/banner-sale/banner-bg.jpg').banner-sizes__wrapper.lozad
        .banner-sizes__content
            .banner-sizes__title <b>Сомневаетесь в размерах и в профилях,</b> которые Вам нужны - <b>вызовите замерщика,</b> который всё Вам расскажет и покажет. <b>Это БЕСПЛАТНО!</b>
            form.banner-sizes__form 
                input(type="tel", placeholder="+7(___)-___-__-__").input.banner-sizes__input
                button.btn.banner-sizes__btn Вызвать замерщика
    .banner-size__img 
        img(src="" data-src="/img/main/banner-sizes.png", alt="Замерщик").lozad
