.banner-sale.container
    div(data-background-image='/img/banner-sale/banner-bg.jpg').banner-sale__wrapper.lozad
        .banner-sale__text
            .banner-sale__title <b>Первый взнос всего 20%</b>, остальное - после установки!
            .banner-sale__subtitle А еще у нас <b>можно в</b> <span class="banner-sale__subtitle-danger">рассрочку!</span>
            a(href="#").btn.banner-sale__btn Хочу окна в рассрочку
    .banner-sale__img 
        img(src="" data-src="/img/banner-sale/banner-number.jpg", alt="Рассрочка 0 %").lozad