mixin breadcrumbs(...items)
    .container
        ul.breadcrumbs
            li.breadcrumbs__item
                a(href="#").breadcrumbs__link Главная
            each item in items
                li.breadcrumbs__item 
                    a(href="#").breadcrumbs__link=item