footer.footer
	.container
		.footer-top
			include _stellarnav-footer.pug
			ul.menu
				li
					a(href="#") Аллервэй
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Аллервэй Экспресс
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Где купить
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Инструкция Аллервэй
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Инструкция Аллервэй Экспресс
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Советы
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Специалистам
						<svg viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 0.792893C0.683417 0.402369 1.31658 0.402369 1.70711 0.792893L4 3.08579L6.29289 0.792893C6.68342 0.402369 7.31658 0.402369 7.70711 0.792893C8.09763 1.18342 8.09763 1.81658 7.70711 2.20711L4.70711 5.20711C4.31658 5.59763 3.68342 5.59763 3.29289 5.20711L0.292893 2.20711C-0.0976311 1.81658 -0.0976311 1.18342 0.292893 0.792893Z"/>
						</svg>
				li
					a(href="#") Карта цветений 
				li
					a(href="resources/Условия Акции.docx" download) Акция «Крем для рук в подарок»
			//- a.to-top.anchor(href="#header")
			//- 	<svg viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			//- 		<path fill-rule="evenodd" clip-rule="evenodd" d="M0.792893 15.7071C0.402369 15.3166 0.402369 14.6834 0.792893 14.2929L5.08579 8L0.792893 1.70711C0.402368 1.31658 0.402368 0.683417 0.792893 0.292893C1.18342 -0.0976315 1.81658 -0.0976315 2.20711 0.292893L7.20711 7.29289C7.59763 7.68342 7.59763 8.31658 7.20711 8.70711L2.20711 15.7071C1.81658 16.0976 1.18342 16.0976 0.792893 15.7071Z"/>
			//- 	</svg>
			//- 	span Подняться вверх
		.footer-middle
			img.contraindications(srcset="img/contraindications.svg 1000w, img/contraindications-mobile.svg 400w", sizes="(max-width: 575px) 100px, (max-width: 1200px) 600px", src=img+"contraindications.svg", alt="")
		.footer-bottom
			a.reddys-logo(href="#") 
				img.reddys-logo__img(src=img+"reddys-logo.svg", alt="")
			.address ООО «Др. Редди'с Лабораторис» <br> 115035, г. Москва, Овчинниковская наб., д. 20, стр. 1 <br> <a href="tel:+74957953939">+7 (495) 795-39-39</a>
			ul.footer-links
				li
					a(href="#") Политика конфиденциальности
				li
					a(href="#") Защита персональных данных
				li © Allerway, 2021

