mixin compare-success(text)
    li.compare__item
                .compare__icon
                    img(src="img/icons/list-success.svg", alt="")
                .compare__text=text 
mixin compare-danger(text)
    li.compare__item
                .compare__icon
                    img(src="img/icons/list-danger.svg", alt="")
                .compare__text=text 
.compare.container 
    .compare__collumn.compare__collumn-advantage
        .compare__title <b>Преимущества окон</b><br/> от Оконного Бутика
        ul.compare__list 
            +compare-success('Мы не продаём бюджетные и не качественные оконные решения.')
            +compare-success('Ваш заказ проходит индивидуальную обработку нашими ТОП специалистами.')
            +compare-success('Мы не сможем с Вами сотрудничать, если у Вас стоит цена на первом месте, а не качество изделий и высокий сервис компании.')
            +compare-success('Каждый заказ подбирается исключительно исходя из Ваших потребностей, таким образом, чтобы Ваша проблема была решена на 101%')
            +compare-success('Мы доводим каждую сделку до конца и всегда решаем вопросы после установки и в процессе эксплуатации.')
            +compare-success('Мы на связи с 9:00 до 00:00 365 дней в году  +7 (812) 679-90-80')
            +compare-success('У нас средний и высокий диапазон цен, что позволяет давать нашему клиенту высокое качество продукции, высокий сервис и иметь в штате специалистов высшего профессионального уровня.')
            +compare-success('Высокий рейтинг в интернете и 98% положительных отзывов. Сделайте заказ у нас и убедитесь сами!!!')
            +compare-success('Наше производство имеет 25-ти летний опыт в оконный индустрии и поэтому Вы получаете светопрозрачные конструкции класса премиум.')
            +compare-success('В нашей компании на первом месте стоит наш любимый клиент и только клиент, так как мы понимаем на сколько Вам это важно.')
            +compare-success('Профессиональный коллектив наша гордость, только опытные сотрудники помогут нашим клиентам сделать правильный выбор оконных конструкций и сделают прохождение заказа беззаботным и легким.')
            +compare-success('Компания ООО «Оконный Бутик Виталия Хрусталева» единственная в России названная личным брендом, а это гарант безопастности того, что Вы нам доверили Ваш заказ и денежные средства.')
    .compare__collumn.compare__collumn-danger
        .compare__title Недостатки <br/> Как делают другие
        ul.compare__list 
            +compare-danger('Мы не продаём бюджетные и не качественные оконные решения.')
            +compare-danger('Ваш заказ проходит индивидуальную обработку нашими ТОП специалистами.')
            +compare-danger('Мы не сможем с Вами сотрудничать, если у Вас стоит цена на первом месте, а не качество изделий и высокий сервис компании.')
            +compare-danger('Каждый заказ подбирается исключительно исходя из Ваших потребностей, таким образом, чтобы Ваша проблема была решена на 101%')
            +compare-danger('Мы доводим каждую сделку до конца и всегда решаем вопросы после установки и в процессе эксплуатации.')
            +compare-danger('Мы на связи с 9:00 до 00:00 365 дней в году  +7 (812) 679-90-80')
            +compare-danger('У нас средний и высокий диапазон цен, что позволяет давать нашему клиенту высокое качество продукции, высокий сервис и иметь в штате специалистов высшего профессионального уровня.')
            +compare-danger('Высокий рейтинг в интернете и 98% положительных отзывов. Сделайте заказ у нас и убедитесь сами!!!')
            +compare-danger('Наше производство имеет 25-ти летний опыт в оконный индустрии и поэтому Вы получаете светопрозрачные конструкции класса премиум.')
            +compare-danger('В нашей компании на первом месте стоит наш любимый клиент и только клиент, так как мы понимаем на сколько Вам это важно.')
            +compare-danger('Профессиональный коллектив наша гордость, только опытные сотрудники помогут нашим клиентам сделать правильный выбор оконных конструкций и сделают прохождение заказа беззаботным и легким.')
            +compare-danger('Компания ООО «Оконный Бутик Виталия Хрусталева» единственная в России названная личным брендом, а это гарант безопастности того, что Вы нам доверили Ваш заказ и денежные средства.')