.our-workers.container 
    .block-title <b>Описание наших установщиков</b>
    .our-workers__wrapper 
        .our-workers__photo 
            img(src="/img/main/workers.jpg", alt="Работник компании").img-full
        .our-workers__list 
             .our-workers__advantage 
                .our-workers__icon 
                    i.icon-success
                .our-workers__content 
                    .our-workers__subtitle Квалификация
                    .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.