.our-workers.container 
    .block-title <b>Описание наших установщиков</b>
    .our-workers__wrapper 
        .our-workers__photo 
            img(src="" data-src="img/main/workers.jpg", alt="Работник компании").img-full.lozad
        .our-workers__collumns
            ul.our-workers__list 
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Квалификация
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Опыт работы
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Чистота и безопасность работ
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle COVID-безопасность при установке
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
            ul.our-workers__list 
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Скорость выполнения
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Монтаж-демонтаж, вынос
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Уборка
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
                li.our-workers__advantage 
                    .our-workers__icon 
                        i.icon-success
                    .our-workers__content 
                        .our-workers__subtitle Инструктаж
                        .our-workers__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.