.promos.container 
    .block-title <b>Акции и спецпредложения</b>
    .promos__wrapper 
        a(href="#").promos__item 
            .promos__inner 
                img(src="" data-src="/img/promos/promo-1.jpg", alt="Остекление загородного дома с выгодой до 55 процентов").promos__img.img-full.lozad
                img(src="/img/icons/promo-sale.svg", alt="").promos__icon
            .promos__title Остекление загородного дома с выгодой до 55 процентов
            .promos__text предложение ограничено и действует только до 31.01.21
        a(href="#").promos__item 
            .promos__inner
                img(src="" data-src="/img/promos/promo-2.jpg", alt="Остекление загородного дома с выгодой до 55 процентов").promos__img.img-full.lozad
                img(src="/img/icons/promo-sale.svg", alt="").promos__icon
            .promos__title Остекление загородного дома с выгодой до 55 процентов
            .promos__text предложение ограничено и действует только до 31.01.21
        a(href="#").promos__item 
            .promos__inner
                img(src="" data-src="/img/promos/promo-3.jpg", alt="Остекление загородного дома с выгодой до 55 процентов").promos__img.img-full.lozad
                img(src="/img/icons/promo-sale.svg", alt="").promos__icon
            .promos__title Остекление загородного дома с выгодой до 55 процентов
            .promos__text предложение ограничено и действует только до 31.01.21
