.record.container 
    .block-title <b>Фасадное остекление алюминием</b>
        .record__subtitle Система стоечно-ригельного фасада Alutech F50
    .record__video
        <iframe width="800" height="450" src="https://www.youtube.com/embed/xwrcyi0nvw4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>