mixin service(text, src)
    a(href="#").services__item
        img(src="" data-src=src, alt=text).services__img.lozad
        .services__text=text
        .services__layer

.services 
    .container 
        .block-title Ознакомьтесь с <b>другими услугами</b>,<br/> которые мы выполняем
        .services__wrapper 
            +service('Остекление балконов и лоджий', '/img/main/services-1.jpg')
            +service('Замена холодного остекления на теплое', '/img/main/services-2.jpg')
            +service('Остекление домов и коттеджей', '/img/main/services-3.jpg')
            +service('Оконный сервис', '/img/main/services-4.jpg')
            +service('Отделка балконов ', '/img/main/services-5.jpg')
            +service('Алюминевое остекление', '/img/main/services-6.jpg')
            +service('Раздвижные системы', '/img/main/services-7.jpg')
            +service('Остекление зимних садов', '/img/main/services-8.jpg')
            +service('Деревянные окна', '/img/main/services-9.jpg')
