.stars-rating.container 
    .stars-rating__content
        .stars-rating__title Рейтинг
        .stars-rating__list 
            .stars-rating__icon
                i.icon-star
            .stars-rating__icon
                i.icon-star
            .stars-rating__icon
                i.icon-star
            .stars-rating__icon
                i.icon-star
            .stars-rating__icon
                i.icon-star
        .stars-rating__text по отзывам на Яндексе
        a(href="#").btn.stars-rating__btn Читать отзывы
    div(data-background-image="/img/main/25-years.png").stars-rating__img.lozad
         
