mixin glass-type(title)
    .glass-type 
        .container 
            .block-title !{title}
            .tabs-nav
                div(class="tabs-nav__elem tabs-nav__elem-active" data-tab="Reynaers") Профиль Reynaers
                div(class="tabs-nav__elem" data-tab="Rehau") Профиль Rehau
                div(class="tabs-nav__elem" data-tab="Alutech") Профиль Alutech