ul.link-group 
    li.link-group__item 
        .icon.link-group__icon 
            i.icon-phone 
        .link-group__content
            a(href="tel:+78126799080").link-group__phone +7 812 679-90-80
            .link-group__text Пн - Пт круглосуточно
    li.link-group__item 
        .icon.link-group__icon 
            i.icon-location
        .link-group__content
            .link-group__text 195248, Россия, Санкт-Петербург, ул. Бокситогорская д.3
    li.link-group__item 
        .icon.link-group__icon 
            i.icon-email 
        .link-group__content
            a(href="mailto:oknabutik.ru@yandex.ru").link-group__email oknabutik.ru@yandex.ru
