.child-tabs 
    .child-tabs__nav 
        button(class="child-tabs__btn child-tabs__btn-active" data-tab='rer1') 
            span.child-tabs__link-title blitz <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
            .child-tabs__triangle
        button(class="child-tabs__btn" data-tab='rer2')
            span.child-tabs__link-title grazio <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
            .child-tabs__triangle
        button(class="child-tabs__btn" data-tab='rer3') 
            span.child-tabs__link-title delight <br/>
            |от 
            span(style={'text-decoration':'line-through'}) 9818
            |&nbsp;6777 руб.
            .child-tabs__triangle
       
    .child-tabs__content
        div(class="child-tabs__item child-tabs__item-active" data-tab-content='rer1')
            .child-tabs__cards
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-1.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-2.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-3.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно 
            .child-tabs__description
                p.child-tabs__subtitle Цена под ключ включает:
                |Стоимость изделия в выбранной оконной системе, подоконники - 250мм, отлив - 150 мм, подставочный профиль, базовый монтаж с изоляцией наружнего шва, откосы до 250 мм, подготовка проема к монтажу откосов, монтаж откосов.
        div(class="child-tabs__item" data-tab-content='rer2')
            .child-tabs__cards
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-1.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-2.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-3.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно 
            .child-tabs__description
                p.child-tabs__subtitle Цена под ключ включает:
                |Стоимость изделия в выбранной оконной системе, подоконники - 250мм, отлив - 150 мм, подставочный профиль, базовый монтаж с изоляцией наружнего шва, откосы до 250 мм, подготовка проема к монтажу откосов, монтаж откосов.
        div(class="child-tabs__item" data-tab-content='rer3')
            .child-tabs__cards
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-1.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-2.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно
                .tabs-card
                    .tabs-card__title Двухстворчатое окно
                    img(class="tabs-card__img" src="" data-src="/img/main/card-tab-3.jpg", alt="window").lozad
                    .tabs-card__price
                        span.tabs-card__price-red 10 216 
                        |руб./окно
                    .tabs-card__price-full Цена “под ключ” 16 250 руб.
                    ul.tabs-card__chars
                        li.tabs-card__char
                            span Размер 1300 х 1400 мм 
                        li.tabs-card__char
                            span Профиль Blitz, 3 камеры, 60мм
                        li.tabs-card__char 
                            span Стеклопакет 32 мм
                        li.tabs-card__char 
                            span Европейская фурнитура
                    a(href="#form-calc").btn.tabs-card__btn.btn-popup Рассчитать окно 
            .child-tabs__description
                p.child-tabs__subtitle Цена под ключ включает:
                |Стоимость изделия в выбранной оконной системе, подоконники - 250мм, отлив - 150 мм, подставочный профиль, базовый монтаж с изоляцией наружнего шва, откосы до 250 мм, подготовка проема к монтажу откосов, монтаж откосов.
        