.banner-sizes {
  position: relative;
  margin-top: 90px;
  padding-top: 23px;
}
.banner-sizes__wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 55px 100px;
}
.banner-sizes__content {
  width: width(1170, 754);
}
.banner-sizes__title {
  font-size: 30px;
  line-height: 120%;
  font-weight: 300;
  margin-bottom: 35px;
}
.banner-sizes__form {
  display: flex;
}
.banner-sizes__input {
  min-width: 226px;
  margin-right: 20px;
}
.banner-sizes__btn {
  min-width: 226px;
}
.banner-size__img {
  position: absolute;
  right: 39px;
  bottom: 0;
  width: width(1170, 449);
}
@media (max-width: 1279.9px) {
  .banner-size__img {
    display: none;
  }
  .banner-sizes__content {
    width: 90%;
  }
}
@media (max-width: 767.9px) {
  .banner-sizes {
    margin-top: 0;
  }
  .banner-sizes__wrapper {
    padding: 15px;
  }
  .banner-sizes__title {
    font-size: 24px;
  }
}
@media (max-width: 540px) {
  .banner-sizes__input {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .banner-sizes__form {
    flex-direction: column;
  }
}
