.child-tabs {
  display: flex;
}
.child-tabs__nav {
  width: 27%;
  padding: 36px 25px 0;
  display: flex;
  flex-direction: column;
}
.child-tabs__btn {
  position: relative;
  text-align: left;
  padding: 14px 26px;
  background: #e9f2f7;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 16px;
  transition: all 0.5s ease-in-out;
  &:first-child {
    margin-top: 0;
  }
  &:hover {
    background: darken(#e9f2f7, 10%);
  }
}
.child-tabs__triangle {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 0 11px 12px;
  border-color: transparent transparent transparent $yellow;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.child-tabs__btn-active {
  background: $yellow;
  filter: drop-shadow(0px 6px 20px rgba(26, 64, 73, 0.12));
  & > .child-tabs__triangle {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background: darken($yellow, 5%);
  }
  &:hover > .child-tabs__triangle {
    border-color: transparent transparent transparent darken($yellow, 5%);
  }
}
.child-tabs__link-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.child-tabs__content {
  width: 73%;
}
.child-tabs__item {
  display: none;
  flex-direction: column;
}
.child-tabs__item-active {
  display: flex;
}
.child-tabs__cards {
  display: flex;
  justify-content: space-between;
}
//product card
.tabs-card {
  width: 31%;
  padding-bottom: 22px;
}
.tabs-card__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}
.tabs-card__price {
  font-weight: 400;
  font-size: 16px;
}
.tabs-card__price-red {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: $danger;
}
.tabs-card__price-full {
  font-weight: 300;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0.01em;
  padding-top: 3px;
  padding-bottom: 7px;
}
.tabs-card__chars {
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  list-style: disc;
  padding-left: 16px;
  letter-spacing: 0.01em;
  padding-bottom: 15px;
}
.tabs-card__char {
  list-style: disc;
  color: $danger;
  span {
    color: $text;
  }
}
.tabs-card__btn {
  width: 100%;
}
.child-tabs__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
}
.child-tabs__subtitle {
  font-weight: 400;
}
@media (max-width: 767.9px) {
  .child-tabs {
    flex-wrap: wrap;
  }
  .child-tabs__nav {
    width: 100%;
    flex-direction: row;
    padding: 15px 0;
    flex-wrap: wrap;
  }
  .child-tabs__content {
    width: 100%;
  }
  .child-tabs__btn {
    width: 33%;
    margin-top: 0;
  }
  .child-tabs__btn-active > .child-tabs__triangle {
    display: none;
  }
}
@media (max-width: 600px) {
  .child-tabs__cards {
    flex-wrap: wrap;
  }
  .tabs-card {
    width: 45%;
  }
  .tabs-card__img {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .tabs-card {
    width: 100%;
  }
  .child-tabs__btn {
    width: 50%;
  }
}
