.color-solutions {
  display: flex;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}
.color-solutions-left {
  position: relative;
  width: width(1170, 203);
}
.color-solutions-right {
  padding: 30px 80px 36px 50px;
  width: width(1170, 670);
}
