.creation {
  display: flex;
  padding-top: 80px;
}
.creation__slider {
  position: relative;
  width: width(1170, 570);
}

.creation__img {
  border-radius: 3px;
}
.creation__dots {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.creation__arrow-prev {
  left: -22px;
  transform: translateY(-50%) rotate(180deg);
}
.creation__arrow-next {
  right: -22px;
}
.creation__description {
  width: width(1170, 600);
  padding-left: 30px;
}
.creation__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
}
.creation__subtitle {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
.creation__content {
  padding-top: 10px;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}
@media (max-width: 991.9px) {
  .creation {
    flex-wrap: wrap;
  }
  .creation__slider {
    width: 100%;
  }
  .creation__description {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
  .creation__arrow-next {
    right: 0;
  }
  .creation__arrow-prev {
    left: 0;
  }
}
@media (max-width: 769.9px) {
  .creation {
    padding-top: 35px;
  }
}
@media (max-width: 600px) {
  .creation__title {
    font-size: 24px;
  }
  .creation__subtitle {
    font-size: 17px;
  }
  .creation__content {
    font-size: 14px;
  }
}
