.footer {
  padding-top: 37px;
  padding-bottom: 50px;
  background: #07282c;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
}
.footer__wrapper {
  display: flex;
}
.footer__logo {
  width: width(1170, 300);
  padding-right: 30px;
}
.footer__content {
  padding-top: 24px;
  opacity: 0.8;
}
.footer__text {
  font-weight: bold;
  line-height: 140%;
  padding-top: 15px;
}
.footer__nav {
  width: width(1170, 192);
}
.footer__info {
  width: width(1170, 164);
}
.footer__subtitle {
  padding-top: 13px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.footer__list {
  font-size: 14px;
  line-height: 200%;
  color: #fff;
}
.footer__link {
  font-size: 14px;
  line-height: 200%;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    color: $orange;
  }
}
.footer__recvizites {
  width: width(1170, 241);
}
.footer__contact {
  width: width(1170, 269);
  padding-left: 74px;
  .messagers-links {
    justify-content: center;
  }
}
.footer__subtitle-contact {
  padding-bottom: 20px;
}
.footer__online {
  padding-top: 22px;
  display: flex;
  align-items: center;
}
.footer-bot {
  padding: 30px 0;
  background: #00181b;
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
}
.footer-bot__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer-bot__copy {
  width: width(12, 3);
}
.footer-bot__info {
  width: width(12, 5);
  text-align: center;
}
.footer-bot__policy {
  width: width(12, 3);
  text-align: right;
}
.footer-bot__link {
  color: #fff;
  text-decoration: underline;
  transition: all 0.4s ease;
  cursor: pointer;
  &:hover {
    color: $orange;
  }
}
