.header {
  position: relative;
}
.header__inner {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 195px;
  font-size: 14px;
  color: $gray;
  z-index: 1000;
}
.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 6px 20px rgba(26, 64, 73, 0.12);
  border-radius: 0px 0px 3px 3px;
  background: #fff;
  padding: 20px;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__item {
  width: width(975, 129);
  display: flex;
  align-items: center;
}
.header__link {
  color: inherit;
  text-decoration: underline;
}
.header__icon {
  margin-right: 10px;
}
.header__item-work {
  width: width(975, 136);
}
.header__item-tel {
  width: width(975, 270);
}
.header-tel {
  padding-left: 10px;
}
.header-tel__item {
  font-size: 27px;
  font-weight: bold;
  color: $text;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
.header__item-messagers {
  width: width(975, 100);
  flex-direction: column;
}
.messagers-links {
  padding-top: 5px;
  display: flex;
}
.messagers-links__item {
  display: block;
  margin-right: 5px;
}
.messagers-links__item:last-child {
  margin-right: 0;
}
.header-nav {
  background: $orange;
  color: #fff;
  z-index: 500;
}
.has-sub {
  .header-nav__item {
    border-top: 1px solid #fff;
  }
}
.stellarnav {
  .header-nav__item {
    flex-shrink: 1;
    background: $orange;
  }
  .icon-close {
    width: 25px;
    height: 25px;
    &:before {
      width: 25px;
    }
    &:after {
      width: 25px;
    }
  }
  .header-nav__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 10px;
    padding: 20px 10px;
    color: #fff;
    &:hover {
      background: $danger;
    }
  }
  a.dd-toggle .icon-plus:before,
  .icon-close:before {
    margin: 0;
    border-bottom: 3px solid #fff;
  }
  a.dd-toggle .icon-plus:after,
  .icon-close:after {
    border-bottom: 3px solid #fff;
  }

  .header-nav__list {
    display: flex;
    justify-content: space-between;
  }
  .menu-toggle span.bars span {
    width: 25px;
    height: 5px;
    background: #fff;
  }
  .dd-toggle {
    width: 41px;
    height: 41px;
  }
}
.header-nav__container {
  padding-left: 195px;
}
.stellarnav.mobile ul {
  background: rgb(170, 170, 170);
}
.header__tablet {
  display: none;
}
.stellarnav.mobile > ul > li > a.dd-toggle {
  background: $orange;
}
.stellarnav.mobile.left > ul,
.stellarnav.mobile.right > ul {
  max-width: 350px;
}

@media (max-width: 1440px) {
  .header__inner {
    display: flex;
    padding-left: 0;
  }
  .logo {
    position: relative;
    flex-shrink: 0;
  }
  .header__inner {
    padding-bottom: 0;
  }
  .header__list {
    padding-left: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header__item {
    width: width(12, 4);
    padding-bottom: 10px;
  }
  .header__item-tel,
  .header__item-messagers {
    width: 50%;
    /* justify-content: center; */
  }
  .header__item-messagers {
    align-items: flex-start;
  }
  .header-nav__list {
    z-index: 9999;
  }

  .stellarnav .header-nav__item {
    background: transparent;
  }
}
@media (max-width: 1280px) {
  .stellarnav.mobile ul {
    position: absolute;
  }
  .header-nav__container {
    padding-left: 0;
    max-width: 100px;
  }
}
@media (max-width: 991px) {
  .header__item-tablet-hide {
    display: none;
  }
  .header__item {
    padding-bottom: 0;
  }
  .header__tablet {
    display: flex;
    width: 100%;
    padding: 5px 0;
  }
  .header-nav__table {
    display: flex;
    flex-direction: row-reverse;
  }
  .logo {
    width: 140px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
  }
  .header__item-messagers {
    align-items: center;
    justify-content: center;
  }
  .header-nav__container {
    max-width: 60px;
  }
}
@media (max-width: 767.9px) {
  .header-tel__item {
    font-size: 16px;
  }
}
@media (max-width: 568px) {
  .header__item {
    width: 100%;
  }
  .header__item-messagers {
    flex-direction: row;
    justify-content: space-around;
  }
  .logo {
    width: 100px;
    padding: 5px;
  }
  .header__item-work {
    display: none;
  }
}
