.banner {
  padding-top: 116px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
}
.banner__wrapper {
  width: width(1170, 770);
}
.banner__title {
  font-size: 60px;
  line-height: 100%;
  font-weight: 300;
  padding-bottom: 20px;
}
.banner__subtitle {
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 21px;
  font-weight: 600;
}
.banner__text {
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 27px;
}
.banner__list {
  width: width(770, 680);
  padding-bottom: 37px;
  display: flex;
}
.banner__item {
  display: flex;
  padding-right: 15px;
  flex-shrink: 1;
  font-weight: 300;

  &:nth-child(2) {
    flex-shrink: 1;
  }
  &:nth-child(3) {
    flex-shrink: 1;
    padding-right: 0;
  }
}
.banner__number {
  font-weight: 700;
  font-size: 72px;
  line-height: 83%;
  flex-shrink: 0;
  padding-right: 8px;
}
.banner__advantage {
  flex-shrink: 1;
  font-size: 17px;
  line-height: 120%;
}
.banner-form {
  padding: 20px 30px;
  background: #fff;
}
.banner-form__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #2a3135;
  margin-bottom: 12px;
}
.banner-form__form {
  display: flex;
}
.banner-form__input {
  width: width(3, 1);
  margin-right: 17px;
}
.banner-form__btn {
  width: width(3, 1);
}
.banner-form__policy {
  padding-top: 12px;
  font-size: 11px;
  line-height: 140%;
  opacity: 0.7;
}
.banner-form__link {
  color: inherit;
  text-decoration: underline;
  transition: 0.4s ease;
  &:hover {
    color: $orange;
  }
}
@media (max-width: 1279.9px) {
  .banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .banner__wrapper {
    width: 80%;
  }
}
@media (max-width: 991.9px) {
  .banner {
    background-position: left;
  }
  .banner__wrapper {
    width: 100%;
  }
}
@media (max-width: 767.9px) {
  .banner__title {
    font-size: 40px;
  }
  .banner__list {
    width: 100%;
  }
  .banner__number {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .banner__list {
    flex-wrap: wrap;
  }
  .banner__text {
    padding-bottom: 10px;
  }
  .banner__item {
    width: 50%;
    padding-top: 10px;
  }
  .banner-form__title {
    font-size: 16px;
  }
  .banner-form {
    max-width: 360px;
    margin: 0 auto;
  }
  .banner-form__form {
    flex-wrap: wrap;
  }
  .banner-form__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .banner-form__btn {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .banner {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .banner__title {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .banner__subtitle {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .banner__text {
    font-size: 14px;
  }
  .banner__item {
    width: 100%;
  }
}
