.page-inner {
  position: relative;
  font-weight: 300;
}

.page-inner__text {
  font-size: 17px;
  line-height: 140%;
}
.page-inner__subtitle {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
}
.page-inner__list {
  font-weight: 300;
  font-size: 17px;
  line-height: 140%;
  list-style-type: disc;
  padding-left: 20px;
}
.page-inner__item {
  list-style-type: disc;
  color: $text;
  &::marker {
    color: $danger;
  }
}
@media (max-width: 600px) {
  .page-inner__text {
    font-size: 14px;
  }
}
