.questions {
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}
.questions-tabs__content {
  width: width(1170, 500);
}
.questions-text {
  width: 100%;
}
.questions__profile {
  width: width(1170, 300);
}
