.inner-our-works.container 
    .block-title Наши работы
    .inner-our-works__wrapper
        .inner-our-works_-slider 
            .inner-our-works__slide 
                img(src="img/inner-pages-blocks/our-works/inner-our-work-1.jpg", alt="")
                .inner-our-works__caption Балконный блок - Путиловское сельское поселение, деревня Горная Шальдиха
            .inner-our-works__slide 
                img(src="img/inner-pages-blocks/our-works/inner-our-work-2.jpg", alt="")
                .inner-our-works__caption Балконный блок - Путиловское сельское поселение, деревня Горная Шальдиха
            .inner-our-works__slide 
                img(src="img/inner-pages-blocks/our-works/inner-our-work-3.jpg", alt="")
                .inner-our-works__caption Балконный блок - Путиловское сельское поселение, деревня Горная Шальдиха
