.inner-advantages.container 
    .block-title <b>Преимущества работы с нами</b>
    .inner-advantages__wrapper 
        .inner-advantages__label
             .inner-advantages__circle
                .inner-advantages__title 96%
                    .inner-advantages__title-small довольных клиентов
        .inner-advantages__list 
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 17 лет гарантии
