mixin inner-banner(img, text)
    .inner-banner.lozad(data-background-image=img) 
        .container 
            .inner-banner__card 
                .inner-banner__title=text
                .inner-banner__btn 
                    a(href="#form-calc").btn.btn-popup Заказать