.inner-advantages.container 
    .block-title <b>Преимущества работы с нами</b>
    .inner-advantages__wrapper 
        .inner-advantages__label
             .inner-advantages__circle
                .inner-advantages__title 96%
                    .inner-advantages__title-small довольных клиентов
        .inner-advantages__list 
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-1.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Гарантия
                    .inner-advantages__text Предоставляем 3 года гарантии на конструкции и 5 лет на установку
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-4.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Сделаем за 5 дней
                    .inner-advantages__text Изгоготовим окна за 5 дней после заключения договора
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-2.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Опыт
                    .inner-advantages__text Изготавливаем и устанавливаем окна уже 20 лет
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-6.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Без наценки
                    .inner-advantages__text Собственный завод по изготовлению окон в Санкт-Петербурге
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-3.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Качество
                    .inner-advantages__text Немецкие окна из ПВХ профиля REHAU
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-7.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Сложные проекты
                    .inner-advantages__text Выполняем остекление зимних садов, фасадов, коттеджей
            .inner-advantages__item 
                .inner-advantages__icon
                    img(src="img/inner-pages-blocks/inner-advantages/inner-advantage-4.png", alt="").img-full 
                .inner-advantages__content 
                    .inner-advantages__subtitle Монтаж по ГОСТ
                    .inner-advantages__text Установка по строгим ГОСТ 30674-1999, ГОСТ 30971-2002
