.inner-footer-banner
    .container.block-title <b>Оставьте Ваш номер</b> и мы свяжемся с вами прямо сейчас!
    div(style={'background-image': 'url(img/inner-pages-blocks/inner-footer-banner/inner-footer-banner-bg.jpg)'}).inner-footer-banner__layer
        .container.inner-footer-banner__wrapper
            .inner-footer-banner__col.inner-footer-banner__col-img
                img(src="" data-src="img/inner-pages-blocks/inner-footer-banner/froze-img-1.png", alt="").img-full.lozad.inner-footer-banner__img
            .inner-footer-banner__col.inner-footer-banner__col-form
                form.inner-footer-banner__form
                    .inner-footer-banner__subtitle Заявка на бесплатный вызов замерщика
                    .inner-footer-banner__group
                        input(type="text" placeholder="Имя").inner-footer-banner__input
                        input(type="tel" placeholder="+7(___)___-__-__").inner-footer-banner__input
                    .inner-footer-banner__group
                        label.inner-footer-banner__label
                            input(type="radio" name="typeof-connect").inner-footer-banner__radio
                            .inner-footer-banner__group__mark
                            .inner-footer-banner__text Связаться со мной через WhatsApp
                        label.inner-footer-banner__label
                            input(type="radio" name="typeof-connect").inner-footer-banner__radio
                            .inner-footer-banner__group__mark
                            .inner-footer-banner__text Связаться со мной по телефону
                    .inner-footer-banner__group
                        button(type="submit").inner-footer-banner__btn Вызвать замерщика
                    .inner-footer-banner__policy Нажимая кнопку, вы соглашаетесь с условиями <a href="#" class="inner-footer-banner__policy-link">Политики конфиденциальности</a> 