.typeof-windows.container 
    .block-title <b>Виды пластиковых окон по количеству створок</b>
    .typeof-windows__wrapper 
        .typeof-windows__item 
            .typeof-windows__img
                img(src="img/inner-pages-blocks/typeof-windows/typeof-windows-1.jpg", alt="Одностворчатое пластиковое окно").img-full 
            .typeof-windows__label <b>Одностворчатое</b> пластиковое окно
        .typeof-windows__item 
            .typeof-windows__img
                img(src="img/inner-pages-blocks/typeof-windows/typeof-windows-3.jpg", alt="Одностворчатое пластиковое окно").img-full 
            .typeof-windows__label <b>Двухстворчатое</b> пластиковое окно
        .typeof-windows__item 
            .typeof-windows__img
                img(src="img/inner-pages-blocks/typeof-windows/typeof-windows-2.jpg", alt="Одностворчатое пластиковое окно").img-full 
            .typeof-windows__label <b>Трёхстворчатое</b> пластиковое окно