- var img = 'img/';

doctype
html
	include blocks/head.pug
		title cookies page
	body
		include blocks/header.pug
		include blocks/_cookie.pug

		main.page-container

			section.page-block
				.container
					.text-container
						h1 Что такое файл cookie?
						p Файл cookie — файл небольшого размера, который сохраняется на компьютере или мобильном устройстве по запросу, который веб-сайт отправляет браузеру в момент вашего посещения. Файлы cookie позволяют веб-сайту «помнить» ваши действия или настройки в течение определенного периода времени.
						p Большинство браузеров поддерживает использование файлов cookie. Однако при необходимости пользователи могут самостоятельно настроить в своем браузере запрет или удаление файлов cookie.
						p Некоторые файлы cookie удаляются в момент закрытия браузера. Такие cookie называются файлами cookie сеанса. Другие сохраняются на устройстве до тех пор, пока не истечет срок их действия или вы не удалите их из кэша. Такие cookie называются постоянными файлами cookie. Они позволяют при повторном посещении вами веб-сайта обращаться к данным о предыдущем посещении и действиях на сайте.
						p Файл cookie может временно хранить анонимную информацию о пользователях веб-сайта и их действиях.
						p Одни файлы cookie необходимы для использования веб-сайта, другие позволяют настраивать и оптимизировать отображение содержимого, получать пользовательские настройки или отслеживать аудиторию и ошибки в работе веб-сайта, а также защитить доступ к веб-сайту.
						h2 Использование файлов cookie при посещении нашего веб-сайта
						p Файлы cookie позволяют сохранять информацию на сервере, чтобы сделать работу с веб-сайтом более удобной и повысить его производительность.
						h2 Управление файлами cookie
						p Чтобы запретить использование файлов cookie, можно настроить в браузере вывод уведомления при отправке файлов cookie с веб-сайта или запретить все файлы cookie. Вы также можете удалить файлы cookie, которые уже установлены. Вы можете также заблокировать или ограничить использование файлов cookie, установленных на устройстве, изменив соответствующие настройки браузера.
						p Обратите внимание, что при отключении файлов cookie некоторые функции наших веб-сайтов могут быть недоступны.

		include blocks/footer.pug
		include blocks/scripts.pug