- var img = 'img/';

doctype
html
	include blocks/_head.pug
		title index page
	body
		include blocks/_header.pug
		.banner(style={'background-image': 'url(/img/main/main.png)'})
			.container
				.banner__wrapper 
					.banner__title
						b Пластиковые окна 
						|Rehau <br/> от производителя
					.banner__subtitle в Санкт-Петербурге от 7 тыс.руб
					.banner__text Закажи немецкие термоокна с защитой от холода <br/> и жары по цене обычных со скидкой до 50%
					.banner__list
						.banner__item
							.banner__number 1-3
							.banner__advantage <b>дня</b> средняя 
								|продолжительность ремонта
						.banner__item
							.banner__number 7
							.banner__advantage <b>дней в неделю</b> выезд 
								|наших специалистов <br/> на замер
						.banner__item
							.banner__number 5
							.banner__advantage лет гарантия 
								|с последующим <br/> сервисом
					.banner-form
						.banner-form__title Замер бесплатно уже сегодня!
						form(action="POST" class="banner-form__form")
							input(type="text" class="input banner-form__input" placeholder="Ваше имя")
							input(type="tel" class="input banner-form__input" )
							button(type="submit" class="btn banner-form__btn") Рассчитать окно
						.banner-form__policy Нажимая на кнопку, вы даете согласие на 
							a(href="#" class="banner-form__link")  обработку своих персональных данных.
		include blocks/_page-inner.pug
		include blocks/_product-tabs.pug
		.block-title Получите <b>максимальный комплект<br/> фурнитуры</b> к вашим окнам
		.furniture-slider.container
			<button type="button" class="slider__btn slider__btn-prev">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.3711 10.7201C13.5092 10.5817 13.5851 10.3969 13.5847 10.2005C13.5851 10.0034 13.5092 9.81871 13.3711 9.68045M13.3711 10.7201L13.0175 10.3665L13.0174 10.3666C13.061 10.3229 13.0848 10.266 13.0847 10.2016L13.0847 10.1994C13.0848 10.134 13.0608 10.0773 13.0174 10.0339M13.3711 10.7201L13.0172 10.3668L7.05268 16.3311L7.05253 16.3313C7.00911 16.3747 6.95262 16.3986 6.88821 16.3986C6.82392 16.3986 6.76742 16.3748 6.72375 16.3311L6.72367 16.3311L6.28517 15.8928L5.93134 16.2461M13.3711 10.7201L7.40622 16.6847C7.26839 16.8226 7.0844 16.8986 6.88821 16.8986C6.69203 16.8986 6.50814 16.8226 6.3702 16.6847L5.93134 16.2461M13.0174 10.0339L13.0175 10.034L13.3711 9.68045M13.0174 10.0339L13.3711 9.68045M13.0174 10.0339L7.05822 4.07481L7.05808 4.07467C7.01466 4.03121 6.95817 4.00732 6.89376 4.00732C6.82936 4.00732 6.77287 4.03121 6.72945 4.07467L6.72926 4.07485L6.29065 4.51336C6.19992 4.60419 6.20031 4.75237 6.29038 4.84241L6.29045 4.84248L11.2946 9.84665L11.6482 10.2002L11.2946 10.5538L6.28503 15.5633L13.3711 9.68045M5.93134 16.2461L6.28481 15.8924L6.28497 15.8926M5.93134 16.2461C5.79351 16.108 5.71741 15.9241 5.71741 15.7278L6.28497 15.8926M6.28497 15.8926C6.24115 15.8486 6.21741 15.792 6.21741 15.7278C6.21741 15.6639 6.24114 15.6073 6.28489 15.5635L6.28497 15.8926Z" fill="white" stroke="white"/>
				</svg>
			</button>
			<button type="button" class="slider__btn slider__btn-next">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.3711 10.7201C13.5092 10.5817 13.5851 10.3969 13.5847 10.2005C13.5851 10.0034 13.5092 9.81871 13.3711 9.68045M13.3711 10.7201L13.0175 10.3665L13.0174 10.3666C13.061 10.3229 13.0848 10.266 13.0847 10.2016L13.0847 10.1994C13.0848 10.134 13.0608 10.0773 13.0174 10.0339M13.3711 10.7201L13.0172 10.3668L7.05268 16.3311L7.05253 16.3313C7.00911 16.3747 6.95262 16.3986 6.88821 16.3986C6.82392 16.3986 6.76742 16.3748 6.72375 16.3311L6.72367 16.3311L6.28517 15.8928L5.93134 16.2461M13.3711 10.7201L7.40622 16.6847C7.26839 16.8226 7.0844 16.8986 6.88821 16.8986C6.69203 16.8986 6.50814 16.8226 6.3702 16.6847L5.93134 16.2461M13.0174 10.0339L13.0175 10.034L13.3711 9.68045M13.0174 10.0339L13.3711 9.68045M13.0174 10.0339L7.05822 4.07481L7.05808 4.07467C7.01466 4.03121 6.95817 4.00732 6.89376 4.00732C6.82936 4.00732 6.77287 4.03121 6.72945 4.07467L6.72926 4.07485L6.29065 4.51336C6.19992 4.60419 6.20031 4.75237 6.29038 4.84241L6.29045 4.84248L11.2946 9.84665L11.6482 10.2002L11.2946 10.5538L6.28503 15.5633L13.3711 9.68045M5.93134 16.2461L6.28481 15.8924L6.28497 15.8926M5.93134 16.2461C5.79351 16.108 5.71741 15.9241 5.71741 15.7278L6.28497 15.8926M6.28497 15.8926C6.24115 15.8486 6.21741 15.792 6.21741 15.7278C6.21741 15.6639 6.24114 15.6073 6.28489 15.5635L6.28497 15.8926Z" fill="white" stroke="white"/>
				</svg>
			</button>
			.furniture-slider__wrapper
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-1.jpg", alt="фурнитура")
					.furniture-slider__text Отлив
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-2.jpg", alt="фурнитура")
					.furniture-slider__text Подоконник
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-3.jpg", alt="фурнитура")
					.furniture-slider__text Откосы
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-4.jpg", alt="фурнитура")
					.furniture-slider__text Ламинация
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-5.jpg", alt="фурнитура")
					.furniture-slider__text Раскладка
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-6.jpg", alt="фурнитура")
					.furniture-slider__text Витражи
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-1.jpg", alt="фурнитура")
					.furniture-slider__text Отлив
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-2.jpg", alt="фурнитура")
					.furniture-slider__text Подоконник
				.furniture-slider__slide
					img(class="img-full" src="/img/main/furniture-3.jpg", alt="фурнитура")
					.furniture-slider__text Откосы
		include blocks/color-solutions.pug
		include blocks/quize.pug
		include blocks/advantages-tabs.pug
		include blocks/services.pug
		include blocks/banner-sale.pug
		include blocks/promos.pug
		include blocks/reviews.pug
		include blocks/list-compare.pug
		include blocks/creation.pug
		include blocks/certeficate.pug
		include blocks/our-workers.pug



		
		
			
		
		include blocks/_footer.pug
		include blocks/_scripts.pug