- var img = 'img/';
include blocks/header-banner
include blocks/page-inner
doctype
html
	include blocks/_head.pug
		title index page
	body
		include blocks/_header.pug
		+header-banner('img/main/main.png', '<b>Пластиковые окна</b> Rehau<br/> от производителя', 'в Санкт-Петербурге от 7 тыс.руб')
		+page-inner('<b>Как правильно выбрать</b> Пластиковые окна', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.')
		include blocks/_product-tabs.pug
		include blocks/furniture-slider.pug				
		include blocks/color-solutions.pug
		include blocks/quize.pug
		include blocks/advantages-tabs.pug
		include blocks/services.pug
		include blocks/banner-sale.pug
		include blocks/promos.pug
		include blocks/reviews.pug
		include blocks/list-compare.pug
		include blocks/creation.pug
		include blocks/certeficate.pug
		include blocks/our-workers.pug
		include blocks/banner-sizes.pug
		include blocks/stars-rating.pug
		include blocks/questions.pug			
		include blocks/map.pug
		include blocks/_footer.pug
		include blocks/popup-calculation.pug
		include blocks/popup-call-director.pug
		<script defer src="https://api-maps.yandex.ru/2.1/?apikey=98211b84-7f08-45d8-abec-5f3f4575258b&lang=ru_RU" type="text/javascript">
		</script>
		include blocks/_scripts.pug