- var img = 'img/';

doctype
html
	include blocks/head.pug
		title policy page
	body
		include blocks/header.pug
		include blocks/_cookie.pug

		main.page-container

			section.page-block
				.container
					.text-container
						h1 УВЕДОМЛЕНИЕ О ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ
						h2 Введение
						p В настоящем Уведомлении о защите персональных данных в общих чертах описаны способы, с помощью которых Группа компаний «Д-р Редди’с Лабораторис Дтд.», ее аффилированные лица, дочерние предприятия и организации, в частности – ООО «Др. Редди’c Лабораторис» - оператор персональных данных на территории России, ((далее «Dr. Reddy’s»), «Компания», «мы», «наш», «наша», «наше», «наши») собирают, хранят, используют, обрабатывают и уничтожают информацию о физических лицах, включая сотрудников, клиентов, поставщиков, влиятельных лидеров общественного мнения (KOLs), пациентов и работников здравоохранения – медицинских и фармацевтических работников (HCPs) («Субъект данных», «вы», «ваш», «ваша», «ваше»,
						p «ваши»), в соответствии с действующими законами о защите конфиденциальной информации, коммерческой тайны и о защите персональных данных, и регламентами. В зависимости от категории персональных данных Субъекта, к которой вы относитесь, вы найдете более подробную информацию, касающуюся обработки данных, выполняемой компанией «Dr. Reddy’s» в отношении ваших Личных данных, Личной информации, носящей сугубо конфиденциальный характер, и (или) любых данных, связанных с клиническими испытаниями (вместе или по отдельности именуемых «Персональные данные») в прилагаемых ниже документах (пожалуйста, обратите внимание на раздел «Как будут использоваться Персональные данные?»). Для целей настоящего Уведомления о защите персональных данных слова «Dr. Reddy’s», «Компания», «мы» и (или) «наш» относятся к компании, которая рассматривается в качестве оператора ваших Персональных данных; для определения того, какая компания является оператором ваших персональных данных, см. ниже раздел «Идентификационная информация и контактные данные оператора и сотрудников в рамках Глобальной схемы защиты персональных данных».
						h3 Принятое обязательство
						p Компания «Dr. Reddy’s» обязуется защищать конфиденциальность Персональных данных и обращаться с ними ответственно, согласно применимому законодательству о защите персональных данных в юрисдикции непосредственной передачи персональных данных, Регламенту 2016/679 («Общий регламент по защите данных» или «GDPR», взаимозаменяемо), а также любым другим соответствующим законам о конфиденциальности в странах нашего присутствия.
						p Мы не будем сознательно собирать, использовать или раскрывать Персональные данные несовершеннолетних в возрасте до 18 лет без предварительного согласия лица, на которое возложена родительская ответственность (например, родитель или опекун), связавшись с ним лично напрямую. Мы предоставим носителю родительской\опекунской ответственности соответствующую информацию, касающуюся обработки Персональных данных ребенка.
						p Компания «Dr. Reddy’s» будет во всех случаях обрабатывать ваши Персональные данные в соответствии с «Глобальной схемой защиты персональных данных», включая любой другой документ (любые другие документы), на который (которые) мы ссылаемся в настоящем документе или который прилагается (которые прилагаются) к настоящему документу. Глобальная схема защиты персональных данных находится на главной странице Компании – Д-р Редди’c Лабораторис Лтд.
						p Как будут использоваться персональные данные?
						p Пожалуйста, ознакомьтесь с нижеприведенной информацией о том, как компания «Dr. Reddy’s» обрабатывает ваши Персональные данные, в зависимости от категории Субъекта данных, к которой вы относитесь.
						ol
							li Если вы сотрудник, клиент, поставщик, влиятельный лидер научно-медицинского мнения (KOL), работник сферы здравоохранения – медицинский или фармацевтический работник (далее - HCP) компании «Dr. Reddy’s», пожалуйста, ознакомьтесь с нашей Глобальной схемой защиты персональных данных, включая любой документ (любые документы), на который (которые) мы ссылаемся в настоящем документе или который прилагается (которые прилагаются) к настоящему документу, с целью получения информации о том, как компания «Dr. Reddy’s» обрабатывает ваши Персональные данные, ознакомления с юридическими основаниями для такой обработки и хранения раскрываемых данных, а также с информацией о международной передаче ваших персональных данных.
							li Если вы являетесь пациентом, участвующим в клинических испытаниях компании «Dr. Reddy’s», пожалуйста, ознакомьтесь с нашей Глобальной схемой защиты персональных данных, включая любой документ (любые документы), на который (которые) мы ссылаемся в настоящем документе или который прилагается (которые прилагаются) к настоящему документу, с целью получения информации о том, как компания «Dr. Reddy’s» обрабатывает ваши Персональные данные, ознакомления с юридическими основаниями для такой обработки и хранения раскрываемых данных, а также с информацией о трансграничной передаче ваших персональных данных.
						p Кому будут раскрыты мои персональные данные? Будут ли мои персональные данные переданы за пределы Российской Федерации или ЕС?
						p Ваши персональные данные могут передаваться Оператором персональных данных в соответствии с законодательными или договорными требованиями. Кроме того, ваши Персональные данные могут быть предоставлены сторонним поставщикам услуг (например, для расчета заработной платы, услуг по размещению, бронирования проездных билетов, вознаграждения сотрудников, предоставления справки о подтверждении трудового стажа, оформления увольнения, возмещения расходов, деловой переписки и т. д.) в мере, определенной и разрешенной местными законами юрисдикции, в пределах которой Вы передали Dr. Reddy’s свои персональные данные, и применимыми нормами о защите персональных данных.
						p Также ваши персональные данные могут быть раскрыты:
						ol
							li если это допускается или требуется применимым законодательством или нормативными требованиями (в таком случае мы постараемся раскрыть только непосредственно запрашиваемую информацию, относящуюся к целям обработки Ваших персональных данных);
							li для соблюдения требований действующих правовых процедур, таких как ордер на обыск, повестка в суд или постановление суда;
							li в рамках обязательств «Dr. Reddy’s» по регулярному предоставлению отчетности;
							li для защиты законных прав и имущества компании «Dr. Reddy’s»;
							li в чрезвычайных ситуациях, а также в случае необходимости защиты здоровья и безопасности человека или группы лиц.
						p Информацию о международной передаче ваших персональных данных, осуществляемой Группой компаний «Д-р Редди’с Лабораторис Дтд.», ее аффилированными лицами, дочерними предприятиями и организациями, в частности – ООО «Др. Редди’c Лабораторис» - оператор персональных данных на территории России, ((далее «Dr. Reddy’s» и\или «Компания»), вы можете найти в соответствующем документе в вышеприведенном разделе «Как будут использоваться персональные данные?».
						p В компании «Dr. Reddy’s» мы прилагаем все усилия, чтобы при передаче ваших Персональных данных сохранялся их исходный адекватный уровень их защиты. Кроме того, Компания обеспечивает применение соответствующих технических и прочих мер для защиты безопасности и конфиденциальности ваших Персональных данных сторонними организациями.
						p Как долго мои Персональные данные будут храниться в компании «Dr. Reddy’s»?
						p Ваши Персональные данные будут храниться в течение периода, на который Вы передали Ваше согласие на обработку Вашиз персональных данных и согласно целям обработки, в пределах срока, разрешенного применимым законодательством стран присутствия Dr. Reddy’s. Если иное не разрешено или не предусмотрено действующим законодательством или нормативными требованиями, ваши Персональные данные будут храниться в компании «Dr. Reddy’s» в течение времени, необходимого, для выполнения целей, для которых эти данные были собраны (в том числе для выполнения любых юридических, бухгалтерских или иных требований и обязательств). Вместо уничтожения или удаления ваших Персональных данных при наличии Вашего согласия мы можем сделать их обезличенными, что не позволит связать их с вами или установить по ним вашу личность.
						h3 Ваши права
						ol
							li Вы имеете право запрашивать доступ, исправление или удаление ваших Персональных данных, ограничивать их обработку и передачу, путем обращения непосредственно к Оператору персональных данных (для Российской Федерации – в ООО «Др. Редди’c Лабораторис»).
							li В случае предоставления согласия на обработку ваших Персональных данных вы имеете право (в любое время отозвать указанное согласие, что не повлияет на законность обработки данных до его отзыва.
							li Вы имеете право запрашивать проверку ваших Персональных данных, их подтверждение или внесение в них изменений.
							li Вы можете подать жалобу в отдел защиты персональной информации, если считаете, что в отношении ваших персональных данных нами не были выполнены требования применимого законодательства о защите персональных данных. Если вы считаете, что компания «Dr. Reddy’s» не обеспечила должным образом исполнение ваших прав, вы имеете право подать жалобу в компетентный уполномоченный надзорный орган.
						h3 Примечание.
						ol
							li Любое такое обращение должно быть оформлено в письменном виде непосредственно указанному в настоящем Уведомлении Оператору.
							li При осуществлении вами ваших прав мы можем запросить у вас определенную информацию для подтверждения вашей личности. Если вам необходима консультация, обратитесь к Ответственному за обработку персональных данных Оператора.
							li Права не являются абсолютными. Существуют случаи, когда применимые законы или применимые нормативные требования позволяют нам или требуют от нас отказаться от осуществления ваших прав. Кроме того, ваши Персональные данные могут быть уничтожены, стерты или обезличены в соответствии с нашими обязательствами и применимым законодательством.
						h3 Оператор персональных данных
						p Являясь оператором ваших Персональных данных, Компания - Оператор персональных данных (для Российской Федерации – в ООО «Др. Редди’c Лабораторис»)также может обрабатывать ваши данные в соответствии с применимыми законами и требованиями по защите персональных данных. Для определения того, кто является оператором ваших Персональных данных, просим принять к сведению, что:
						ol
							li Если вы являетесь сотрудником компании «Dr. Reddy’s», тогда оператором ваших Персональных данных является Компания, с которой вы заключили трудовой договор.
							li Если вы являетесь клиентом, поставщиком, влиятельным лидером научно-медицинского мнения (KOL), работником сферы здравоохранения – медицинским или фармацевтическим раьотником (HCP), тогда оператором ваших Персональных данных является Компания, с которой вы заключили контракт.
							li Если вы являетесь пациентом, участвующим в клинических испытаниях компании «Dr. Reddy’s», тогда оператором ваших Персональных данных является Компания, с которой вы заключили договор/соглашение об оказании услуг.
						h3 Методы защиты персональных данных
						p Компания «Dr. Reddy’sс» внедряет технические и организационные меры, необходимые для обеспечения безопасности Персональных данных. Персональные данные должны быть защищены от несанкционированного раскрытия и (или) любой незаконной обработки. Данные меры обеспечивают соответствие применимым требованиям, уровню безопасности, характеру защищаемых данных и рискам, возникающим при обработке таких данных.
						h3 Применение
						p Группа компаний «Д-р Редди’с Лабораторис Дтд.», ее аффилированные лица, дочерние предприятия и организации, в частности – ООО «Др. Редди’c Лабораторис» - оператор персональных данных на территории России, ((далее «Dr. Reddy’s» и\или «Компания»)несет ответственность за применение и обеспечение соблюдения применимого законодательства о защите персональных данных. В соответствии с договором запросы на обработку Персональных данных третьими лицами должны оформляться в письменном виде.
						p Представители компании «Dr. Reddy’s» должны убедиться в том, что третья сторона работает с данными должным образом и в соответствии с принципами, изложенными в Глобальной схеме защиты персональных данных, а также с любыми связанными документами, включая настоящее Уведомление о защите персональных данных. В случае если третье лицо не в состоянии обеспечить адекватную безопасность Персональных данных, компания «Dr. Reddy’s» может по своему усмотрению в любое время расторгнуть договор с этим третьим лицом.
						p Внесение изменений в настоящее Уведомление о защите персональных данных
						p «Dr. Reddy’s» может в соответствующее время вносить изменения в свою Глобальную схему защиты персональных данных, а также в любые связанные документы, включая настоящее Уведомление о защите персональных данных, чтобы отражать изменения в юридических или нормативных обязательствах и в принципах работы с вашими Персональными данными. О любых изменениях и дополнениях в Глобальной схеме защиты персональных данных, а также в любом связанном документе (любых связанных документах), включая настоящее Уведомление о защите персональных данных, будет сообщаться соответствующим образом в публичном ресурсе – на Интернет сайте Группы компаний «Д-р Редди’с Лабораторис».
						h3 Свяжитесь с нами
						p Если у вас возникнут какие-либо вопросы относительно нашей политики и методов в области защиты персональных данных или у вас возникают какие-либо сомнения, без промедления обращайтесь к нашему сотруднику в области защиты персональных данных по следующему адресу:
						p Идентификатор электронной почты: <a href="mailto:dataprivacy@drreddys.com">dataprivacy@drreddys.com</a>
						p Адрес: Сотрудник в области защиты персональных данных, <br> «Д-р Редди'c Лабораториc Лтд.» (Dr. Reddy’s Laboratory Limited), <br> прямой номер: 8-2-337, <br> № трассы: 3, Баньяра Хилз <br> Хайдарабад (Banjara Hills Hyderabad) — 500034. <br> Индия.
						p Ответственный за обработку персональных данных – Плотникова Наталия Михайловна <br> в ООО «Др. Редди’c Лабораторис» - оператор персональных данных на территории России <br> 115035, г. Москва, Овчинниковская набережная, дом 20, строение 1.

		include blocks/footer.pug
		include blocks/scripts.pug