- var img = 'img/';
include ../blocks/header-banner
include ../blocks/page-inner
doctype
html
	include ../blocks/_head.pug
		title Балконы и лоджии
	body
		include ../blocks/_header.pug
		+header-banner('img/balcony/balcony-header-banner.jpg', '<b>Остекление балконов<br/> и лоджий</b> от производителя', 'в Санкт-Петербурге от 15 тыс.руб')
		+page-inner('<b>Что нужно знать</b> перед остеклением балкона или лоджии', 'Остекление балконов в квартире позволяет сделать это помещение полноценной частью вашего дома. Современные профильные системы экономят полезное место, герметичны, не пропускают внутрь холодный воздух и ограждают от потери теплого. Балконы отличаются по размерам, форме, состоянию ограждения и опорной плиты. Потому все работы по установке новых окон нужно начинать с замеров. Наша компания предлагает два варианта балконного остекления: – Холодное с монтажом алюминиевого профиля. Это не дает стопроцентной герметичности, но в летние месяцы температура на балконе будет такой же, как в квартире. Алюминиевые рамы хорошо подходят для установки в домах, где сильно изношено ограждение и опорная плита, потому что весят меньше, чем пластиковые. – Теплое из ровного и прочного армированного ПВХ. Сам профиль намного толще, тяжелее, оснащается стеклопакетом. При правильной отделке, установке теплоизоляции и теплого пола можно даже соединить лоджию с прилегающей комнатой.')
		include ../blocks/tipi-osteklenie.pug
		include ../blocks/furniture-slider.pug
		include ../blocks/color-solutions.pug
		include ../blocks/balcony-cost.pug
		include ../blocks/3d-calc.pug
		include ../blocks/more-services.pug
		include ../blocks/services.pug
		include ../blocks/quize.pug
		include ../blocks/banner-sale.pug
		include ../blocks/promos.pug
		include ../blocks/reviews.pug
		include ../blocks/list-compare.pug
		include ../blocks/creation.pug
		include ../blocks/certeficate.pug
		include ../blocks/our-workers.pug
		include ../blocks/banner-sizes.pug
		include ../blocks/stars-rating.pug
		include ../blocks/questions.pug			
		include ../blocks/map.pug
		include ../blocks/_footer.pug
		include ../blocks/popup-calculation.pug
		include ../blocks/popup-call-director.pug
		include ../blocks/_scripts.pug
