- var img = 'img/';
include ../blocks/header-banner
include ../blocks/page-inner
doctype
html
	include ../blocks/_head.pug
		title Балконы и лоджии
	body
		include ../blocks/_header.pug
		+header-banner('img/kotedgi-i-doma/kotedgi-i-doma-banner.jpg', '<b>Остекление загородных<br/> домов </b> от производителя', 'в Санкт-Петербурге от 50 тыс.руб')
		+page-inner('<b>Что нужно знать</b> перед остеклением загородного дома', 'Наша компания выполняет остекление загородных домов и коттеджей окнами различного типа. Вы можете выбрать любой вариант. Например, заказать элитные окна премиум-класса с эффектным дизайном. Или остановиться на стандартных, относительно недорогих системах, обеспечивающих нормальную теплозащиту. Для всех проектов остекления коттеджей мы используем только качественные материалы от проверенных производителей. Это металлопластиковые профили Rehau, надежная немецкая фурнитура. Для производства стеклопакетов применяются традиционные и новейшие технологии.', true)
		include ../blocks/quize.pug
		include ../blocks/about-services.pug
		include ../blocks/tipi-osteklenie.pug
		include ../blocks/furniture-slider.pug
		include ../blocks/color-solutions.pug
		include ../blocks/balcony-cost.pug
		include ../blocks/3d-calc.pug
		include ../blocks/more-services.pug
		include ../blocks/services.pug
		include ../blocks/banner-sale.pug
		include ../blocks/promos.pug
		include ../blocks/reviews.pug
		include ../blocks/list-compare.pug
		include ../blocks/creation.pug
		include ../blocks/certeficate.pug
		include ../blocks/our-workers.pug
		include ../blocks/banner-sizes.pug
		include ../blocks/stars-rating.pug
		include ../blocks/questions.pug			
		include ../blocks/map.pug
		include ../blocks/_footer.pug
		include ../blocks/popup-calculation.pug
		include ../blocks/popup-call-director.pug
		include ../blocks/_scripts.pug
