.social-links
    .social-links__text.social-links__text-footer Мы в социальных сетях:
    .social-links__wrapper.social-links__wrapper-footer
        a(href="#").social-links__item.social-links__item-footer 
            i.icon-youtube
        a(href="#").social-links__item.social-links__item-footer 
            i.icon-vk
        a(href="#").social-links__item.social-links__item-footer 
            i.icon-facebook
        a(href="#").social-links__item.social-links__item-footer 
            i.icon-ok
        a(href="#").social-links__item.social-links__item-footer 
            i.icon-insta