- var img = 'img/';

include ../blocks/breadcrumbs
include ../blocks/inner-pages-blocks/inner-banner
include ../blocks/inner-pages-blocks/cards-orange-mark
doctype
html
	include ../blocks/_head.pug
		title Пластиковые окна
	body
		include ../blocks/_header.pug
		+breadcrumbs('Окна', 'Пластиковые окна')
		+inner-banner('img/inner-pages/plastikovie-okna/plastikovie-okna-banner.jpg', 'Высококачественные пластиковые окна')
		.plastikovie-okna__inner.container 
			.block-title <b>Из чего состоит пластиковое окно</b>
			.plastikovie-okna__wrapper
				.plastikovie-okna__col-text
					.seo-text-container
						p <b>Профиль</b> — из пластика, армирован сталью или фиброволокном. Армирующие детали делают пластик жестким и повышают его теплоизоляцию. Имеет 3-6 камер.
						p <b>Стеклопакет — с 1-3 камерами</b> — межстекольными прослойками. Чем больше стекол, тем выше камерность стеклянного пакета. Стеклопакеты с одной камерой монтируют в нежилых помещениях. В квартирах и коттеджах обычно устанавливают многокамерные системы. Опциональные стекла помогают сделать остекление более удобным, индивидуальным. Например, мультифункциональное стекло удерживает тепло в помещении и отражает ИК-излучение с улицы, звукоизолирующее — повышает шумоизоляцию, взломозащитное — препятствует взлому.
						p <b>Фурнитура —</b> это запирающие механизмы, ручки, защелки, замковые детали, петли. От них зависит, в каком режиме открываются створки и насколько удобно ими пользоваться.
						p Уплотнительная резина прокладывается по конуру профиля. Она отвечает за герметичность соединения створок и стеклопакета. 
				.plastikovie-okna__col-img
					img(src="img/fallback.jpg" data-src="img/inner-pages/plastikovie-okna/plastikovie-okna-text.png", alt="").img-full.lozad
			.seo-text-container
				p Из-за высокой загруженности производства в данный момент <b>мы не принимаем заказы на одно окно.</b> Также мы не назовем примерную цену по телефону, потому что используем в работе разные типы профилей, фурнитуры, уплотнителей, рекомендуем разную комплектацию в зависимости от задач клиента. Все эти нюансы можно выяснить только на объекте – запишитесь на бесплатный замер.
				p Квартиры, коттеджи, коммерческие и производственные помещения многие остекляют пластиковыми окнами. Это практичное, доступное решение обеспечивает надежную теплозащиту. Главное — правильно выбрать и установить ПВХ-окна.
				p Заказывайте пластиковый профиль от производителя в Оконном бутике Виталия Хрусталева. Мы выпускаем оконные системы по индивидуальным размерам, ведем монтаж по ГОСТу. Работаем без наценки, тщательно контролируем качество остекления.	
		include ../blocks/inner-pages-blocks/type-of-windows.pug
		.container 
			.block-title <b>Виды пластиковых окон</b>
			+cards-orange-mark('Энергосберегающие окна', 'Установка теплых окон позволяет добиться комфортной температуры с минимальными тратами на обогрев даже в условиях сурового климата. Они позволяют сохранить тепло в доме, так как специальное напыление на стекле препятствует проникновения холодных потоков с улицы', 'img/inner-pages/plastikovie-okna/typeof-window-page.jpg', false)
			+cards-orange-mark('Энергосберегающие окна', 'Установка теплых окон позволяет добиться комфортной температуры с минимальными тратами на обогрев даже в условиях сурового климата. Они позволяют сохранить тепло в доме, так как специальное напыление на стекле препятствует проникновения холодных потоков с улицы', 'img/inner-pages/plastikovie-okna/typeof-window-page.jpg', true)
			+cards-orange-mark('Энергосберегающие окна', 'Установка теплых окон позволяет добиться комфортной температуры с минимальными тратами на обогрев даже в условиях сурового климата. Они позволяют сохранить тепло в доме, так как специальное напыление на стекле препятствует проникновения холодных потоков с улицы', 'img/inner-pages/plastikovie-okna/typeof-window-page.jpg', false)
		include ../blocks/inner-pages-blocks/inner-advantages.pug
		include ../blocks/_footer.pug
		include ../blocks/popup-calculation.pug
		include ../blocks/popup-call-director.pug		
		include ../blocks/_scripts.pug