.quize-form__step 
    label.quize-form__label
        input(type="radio" name="quize-step-1" value="Логистический центр или склад").quize-form__input
        .quize-form__img 
            img(src="/img/quize/step-1-label-1.jpg", alt="")
            .quize-form__btn
                .quize-form__chose 
                    img(src="/img/icons/success.svg", alt="icon-success") 
        .quize-form__caption Логистический центр или склад
    label.quize-form__label
        input(type="radio" name="quize-step-1" value="Производственное помещение").quize-form__input
        .quize-form__img 
            img(src="/img/quize/step-1-label-2.jpg", alt="")
            .quize-form__btn
                .quize-form__chose 
                    img(src="/img/icons/success.svg", alt="icon-success") 
        .quize-form__caption Производственное помещение
    label.quize-form__label
        input(type="radio" name="quize-step-1" value="Логистический центр или склад").quize-form__input
        .quize-form__img 
            img(src="/img/quize/step-1-label-3.jpg", alt="")
            .quize-form__btn
                .quize-form__chose 
                    img(src="/img/icons/success.svg", alt="icon-success") 
        .quize-form__caption Логистический центр или склад
    label.quize-form__label
        input(type="radio" name="quize-step-1" value="Логистический центр или склад").quize-form__input
        .quize-form__img 
            img(src="/img/quize/step-1-label-4.jpg", alt="")
            .quize-form__btn
                .quize-form__chose 
                    img(src="/img/icons/success.svg", alt="icon-success") 
        .quize-form__caption Логистический центр или склад
    label.quize-form__label
        input(type="radio" name="quize-step-1" value="Логистический центр или склад").quize-form__input
        .quize-form__img 
            img(src="/img/quize/step-1-label-5.jpg", alt="")
            .quize-form__btn
                .quize-form__chose 
                    img(src="/img/icons/success.svg", alt="icon-success") 
        .quize-form__caption Логистический центр или склад
    label.quize-form__label
        input(type="radio" name="quize-step-1" value="Логистический центр или склад").quize-form__input
        .quize-form__img 
            img(src="/img/quize/step-1-label-6.jpg", alt="")
            .quize-form__btn
                .quize-form__chose 
                    img(src="/img/icons/success.svg", alt="icon-success") 
        .quize-form__caption Логистический центр или склад